.section-main {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
}

.container-foods {
  width: 100%;
  height: 100%;
  padding-top: 10px;

}

.btn-select-main {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.btn-select-main:hover {
  transition: 0.5s;
  box-shadow: 0 0 10px #fff;
}

.card-food {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-direction: column;
}

.title-card {
  color: #fff;
  text-align: center;
  font-size: 35px;
}

.detail-card {
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.prepare-card {
  color: #acacac;
  font-size: 18px;
}

@media (max-width: 768px) {
  .section-main {
    height: auto;
    padding: 10px;
  }
}
